version: '3'

services:
  api:
    container_name: api_container
    build:
      context: './'
      dockerfile: './api/Dockerfile'
    ports:
      - "8443:8443"
    volumes:
      - ./api:/usr/src/api
