.component-container {
    width: 100%;
    height: 100%;
    background-color: #3c3d3b;
    position: absolute;
    left: 0;


    .header-text {
        margin-top: 20%;
        font-size: 30px;
        color: white;
        font-weight: 700;
    }

    .sub-text {
        font-size: 15px;
        color: white;
    }
}

.dashboard-container {
    width: 100%;
    height: 100%;
    background-color: #3c3d3b;
    position: absolute;
    left: 0;

    .dashboard-header {
        margin-top: 20px;
        margin-left: auto; 
        margin-right: 0;

        .dashboard-header-text {
            font-size: 30px;
            color: white;
        }

        .create-button-container {
            display: flex;
        }
    }
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    background-color: #1c1d1b;
    text-align: right;
    align-items: center;
    color: white;

    .logo {
        margin-left: 13px;
        font-weight: 900;
    }

    .nav-link {
        margin-right: 15px;
        color: white;
    }

    .log-button {
        border-radius: 0px;
    }

    .navigation-links {
        display: flex;
        padding: 0px;
    }
}

.modal-content{
    background-color: #3c3d3b;
    color: white;

    .modal-header {
        border-bottom: 1px solid black;
    }

    .modal-footer {
        border-top: 1px solid black;
    }

    .label-text {
        margin-bottom: 10px;
    }
}